.hero, footer {
    background-color: #1f2937;
}

.hero-main-text {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
}

.hero-logo-text {
    font-size: 24px;
    color: #F9FAF8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.quote-section {
    background-color: #E5E7EB;
    color: #1F2937;
    font-weight: 300;
    font-size: 36px;
}

.information-header {
    font-weight: 900;
    font-size: 36px;
    color: #1F2937;
}
