* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
}

.hero, footer {
    background-color: #1f2937;
}

.hero-section {
    display: flex;
    flex-direction: row;
    padding: 100px 50px;
    gap: 20px;
    color: #E5E7EB;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    margin: auto;
}

.hero-image {
    padding: 100px 20px;
    gap: 20px;
    color: #E5E7EB;
    background-color: dimgray;
    flex: 1;
    margin: auto;
    text-align: center;
}

.hero-main-text {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
}

.hero-logo-text {
    font-size: 24px;
    color: #F9FAF8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.quote-section {
    background-color: #E5E7EB;
    color: #1F2937;
    font-weight: 300;
    font-size: 36px;
    text-align: center;
    padding: 120px 340px;
}

.information-header {
    font-weight: 900;
    font-size: 36px;
    color: #1F2937;
    text-align: center;
    margin: 40px;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0 40px;

}

.header-links {
    display: flex;
}

.header-links-list {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    color: #E5E7EB;
}

.header-links li {
    list-style-type: none;
    text-decoration: none;
}

.information-features {
    display: flex;
}

footer {
    padding: 20px;
    text-align: center;
}

.sign-up-button {
    display: flex;
    justify-content: center;
}

.feature-settings {
    flex: 1;
    padding: 40px;
    border:#3882F6 solid 2px;
    margin: 0px 40px 40px 40px;
    text-align: center;
    border-radius: 4%;
}

.feature1, .feature2, .feature3, .feature4 {
    flex: 1;
    padding: 20px;
    width: 50px;
    margin: 40px;
    text-align: center;
}

.sign-up-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.sign-up-section {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 50px 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
}

.sign-button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3882F6;
    color: #F9FAF8;
    text-decoration: none;
    border-radius: 10px;
    border:#F9FAF8 solid 2px;
    width: 120px;
    text-align: center;
}

.each-link {
    color: #E5E7EB;
}

.hero-container {
    max-width: 1200px;
    margin: 0 auto;
}

.information-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
