.hero, footer {
    background-color: #1f2937;
}

.hero-main-text {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
}

.hero-logo-text {
    font-size: 24px;
    color: #F9FAF8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.quote-section {
    background-color: #E5E7EB;
    color: #1F2937;
    font-weight: 300;
    font-size: 36px;
}

.information-header {
    font-weight: 900;
    font-size: 36px;
    color: #1F2937;
}

.sign-up-section {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}

.header-links {
    display: flex;
    display: inline-block

}

.header-links li {
    list-style-type: none;
    text-decoration: none;

}

.information-features {
    display: flex;
}

footer {
    padding: 20px;
    text-align: center;
}

.sign-up-button {
    display: flex;
    justify-content: center;

}

.feature-settings {
    flex: 1;
    padding: 40px;
    border:#1f2937 solid 1px;
    margin: 40px;
    text-align: center;
}

.feature1, .feature2, .feature3, .feature4 {
    flex: 1;
    padding: 20px;
    text-align: center;
}
